<app-carousel></app-carousel><br>
<div class="container">
  <h1 class="text-center">Our Service</h1><br>
  <div class="row" >
    <div class="col-12 col-xl-3 col-sm-6 col-md-4 col-lg-3" *ngFor="let items of item">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Kom pong pluk</h5>
          <p class="card-text"><img src="{{img}}" alt="" class="img-responsive img-thumbnail" width="100%"></p>
        </div>
      </div>
    </div>
  </div>
</div>